.AthletesCards-container{
    height: 100vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.AthletesCards-container > button {
    width: fit-content;
    
}
.container-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300vw;
    height: 100%;
}
.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.medals{
    width:150px;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
.medals-circles{
    height: 30px;
    width: 30px;
    background-color: gold;
    border-radius: 50%;
}
.img-container{
    width: 200px;
    height: 200px;
    position: relative;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.733));
}
.ath-img{
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left:0;
}
.slider-buttons{
    width: 100%;
    margin: auto;
   display: flex;
   justify-content: space-evenly;
}

