.Topics{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.Topics > span {
  flex:1;
  width: 100%;
  overflow-x: hidden;
}

.topics-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
.img-topic-container{
  width: 100%;
  flex:1;
}
@media (min-width:500px) {
  .Topics{
    flex-flow: row;
  }
  .Topics > span {
    font-size: 13px;
  }
}