.logo{
    width: 115px;
    padding-left: 15px;
}
.Footer-container{
    height:60%;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer-links{
    display: grid;
    gap:10px;
    border-bottom: 1px solid gray;
    padding: 25px;
    width: 100%;
    grid-template-columns: 100px repeat(4,1fr);
    height: 60%;
}
.footer-ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: white;
    list-style: none;
    cursor: pointer;
}
.footer-ul > li {
 font-weight: 100;
 height: 20px;
 font-size:medium;
}
.olympic-info{
    width: 80%;
}
.olympic-info > ul{
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    cursor: pointer;
    width: 100%;

}
.social-links{

    width: 100%;
    z-index: 10;
    height: 30%;
    background: rgba(37, 37, 37, 0.589);
}
.social-links > div {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.social-links > div  > a {
    font-size: 25px;
    color: white;
}

@media (max-width:500px) {
    .Footer-links{
        display: none;
    }

    .olympic-info > ul{
        display: grid;
        grid-template-columns: 2fr repeat(5,1fr);
        gap: 10px;
        padding: 0;
    }
    
}